
@keyframes full-slide-from-right {
  from {
    transform: translateX(100%);
  }
}
 
@keyframes full-slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(root) {
  animation-name: full-slide-to-left;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}
::view-transition-new(root) {
  animation-name: full-slide-from-right;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

header{
   view-transition-name: header;
}
/* Loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  text-align: center;
}

.loader::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 6px solid #d4d4d4aa;
  border-bottom-color: var(--primary-color);
  border-radius: 100%;

  animation: rotation 1s linear infinite;
}

.loader.loader-absolute::after {
  position: absolute;
  inset: 0;
  margin: auto;
}

i.loader-button {
  animation: rotation 1s linear infinite;
}

.new-form__camera__container {
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 8px;

  display: none;
}

.new-form__camera__container.open {
  display: block;
}

.new-form__camera__video {
  width: 100%;
  border-radius: 4px;
  display: block;
}

.new-form__camera__canvas {
  display: none;
}

.new-form__camera__tools {
  margin-block: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px 16px;
}
.new-form__photo__preview {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.new-form__photo__preview-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.new-form__photo__delete-btn {
  appearance: none;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  padding: 0;
  cursor: pointer;
}

.new-form__photo__delete-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.new-form__photo__delete-btn:hover img {
  transform: scale(1.05);
  opacity: 0.9;
}

/* New Locations */
.new-form__location__map__container,
.new-form__location__map,
.home-page__map,
.map-container {
  height: 400px;
  position: relative;
}

.new-form__location__map__container {
  background-color: darkgray;
}
